<% content_for :primary_content do %>
  <h1 class="text-3xl font-bold mb-6">Edit submission</h1>
  <%= render "form", submission: @submission %>
<% end %>

<% content_for :secondary_content do %>
  <%= render "guidelines" %>
<% end %>

<%= render "basic_layout" %>