<% content_for :community_label, "Edit Community" %>

<% content_for :primary_content do %>
  <h1 class="text-3xl font-bold mb-6">Editing Community</h1>
  <%= render "form", community: @community %>
<% end %>
<br>

<% content_for :secondary_content do %>
  <%= link_to "Show this community", @community %> |
  <%= link_to "Back to communities", communities_path %>
<% end %>

<%= render "basic_layout" %>
